.About {
  text-align: center;
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

img, iframe {
  width: 50vw;
}


.About > iframe {
  overflow-y: scroll;
  height: 100vh;
}