.container {
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  display: grid;
  grid-template-areas:
    "top"
    "bottom";
    grid-template-columns: 100%;
  grid-template-rows: 75px 1fr;
  overflow: hidden;

}

.top {
  grid-area: top;
  grid-row: 0/1;
}

.bottom {
  grid-area: bottom;
  grid-row: 1/2;
}
